# Environment
ENV=""

# Secret Key
SECRET_KEY=""

# Allowed Host
LIST_ALLOWED_HOST=", , , "

# CSRF
CSRF_TRUSTED_ORIGINS=", "

# Database PostgreSQL
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""

# CDN Static Url
CDN_STATIC=""
