{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Roki Miftah Kamaludin" />
    <meta name="description" content="Alumni" />
    <meta name="keywords" content="Alumni" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static "images/alumni/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url "index" %}">
          <i class="fa-solid fa-graduation-cap fa-lg"></i>
          Alumni
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarColor01"
                aria-controls="navbarColor01"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% block menu %}
        {% endblock menu %}
      </div>
    </nav>
    <div class="container-fluid">
      {% block content %}
      {% endblock content %}
    </div>
    <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "js/fontawesome/all.min.js" %}"></script>
  </body>
</html>
